@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&family=PT+Serif+Caption:ital@0;1&display=swap');
.container {
    display: flex;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

.sidebar {
    height: 100vh;
    width: 20rem;
    background: #121212;
    color: white;
    align-items: center;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
}

.sidebar h1 {
    margin: 1.5em 0 1em 0;
    color: white;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    font-family: 'Orienta', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.sidebar nav {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.sidebar nav ul {
    display: flex;
    flex-direction: column;
}

.sidebar nav ul li {
    padding-bottom: 2rem;
}

.sidebar nav ul li a {
    color: white;
    font-size: 20px;
}

.sidebar nav ul li a:hover {
    transform: translateY(-5px);
    font-size: 22px;
    color: dimgrey;
}

.main {
    width: 79%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    font-family: 'Noto Serif SC', serif;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    animation: move_up 2s ease-out;
}

.main img {
    width: 25%;
    height: 43%;
    animation: show_in 4s ease-in-out;
}

@keyframes move_up {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    80% {
        transform: translateY(+10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes show_in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}