.container {
    display: flex;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

.sidebar {
    height: 100vh;
    width: 20rem;
    background: #121212;
    color: white;
    align-items: center;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
}

.sidebar h1 {
    margin: 1.5em 0 1em 0;
    color: white;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    font-family: 'Orienta', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.sidebar nav {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.sidebar nav ul {
    display: flex;
    flex-direction: column;
}

.sidebar nav ul li {
    padding-bottom: 2rem;
}

.sidebar nav ul li a {
    color: white;
    font-size: 20px;
}

.sidebar nav ul li a:hover {
    transform: translateY(-5px);
    font-size: 22px;
    color: dimgrey;
}

.ajouter_fonc__sec {
    height: 100vh;
    width: 80rem;
    display: grid;
    align-items: center;
    justify-content: center;
}

.form_container {
    justify-content: center;
    height: 70vh;
    width: 60rem;
    border-radius: 30px;
}

.ajouter_fonc__sec .heading {
    margin: 1.5em 0 1em 0;
    color: #343434;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    font-family: 'Orienta', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.form_ajout_fonc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
}

.form_ajout_fonc input {
    margin-bottom: 1rem;
    width: 30rem;
    height: 2.4rem;
    border-radius: 10px;
    border: 0.5px solid rgba(0, 0, 0, .2);
    box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
}

.box {
    margin-top: 1.5rem;
}

.box select {
    background: #121212;
    color: #fff;
    padding: 10px;
    width: 250px;
    height: 50px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
    -webkit-appearance: button;
    outline: none;
}

.box:after {
    content: '\f358';
    font-family: "Font Awesome 5 Free";
    line-height: 50px;
    color: #fff;
    font-size: 28px;
    pointer-events: none;
    position: absolute;
    width: 50px;
    height: 50px;
    background: #121212;
    margin-left: -50px;
    justify-content: center;
    align-items: center;
}

.form_ajout_fonc .btn {
    display: inline-block;
    width: 8rem;
    height: 2.5rem;
    padding: 0.3em 1.2em;
    margin: 2rem 0.1em 0.1em 0;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    background-color: #121212;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
}

.form_ajout_fonc .btn:hover {
    border-color: rgba(255, 255, 255, 1);
}