:root {
    --font-color: #555;
    --font-hover-color: orange;
}

.main,
.succes_msg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Raleway", sans-serif;
    background-color: #627b8a;
}

.succes_msg h3 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: -10rem;
    letter-spacing: 1px;
}

.container {
    width: 500px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    padding: 2em;
    background-color: #fff;
}

.acme {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_title {
    color: #212F3D;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.logo_acme {
    width: 25%;
    height: 20%;
}

.form-group {
    margin-bottom: 1.5em;
    transition: all .3s;
}

.form-label {
    font-size: .75em;
    color: var(--font-color);
    display: block;
    opacity: 0;
    transition: all .3s;
    transform: translateX(-50px);
}

.form-control {
    box-shadow: none;
    border-radius: 0;
    border-color: #ccc;
    border-style: none none solid none;
    width: 100%;
    font-size: 1.25em;
    transition: all .6s;
}

.form-control::placeholder {
    color: #aaa;
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--font-hover-color);
    outline: none;
}

.form-group:focus-within {
    transform: scale(1.1, 1.1);
}

.form-control:invalid:focus {
    border-color: red;
}

.form-control:valid:focus {
    border-color: green;
}

.btn {
    background: 0 0 #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    color: var(--font-color);
    font-size: 1em;
    padding: 10px 50px;
    text-transform: uppercase;
}

.btn:hover {
    border-color: var(--font-hover-color);
    color: var(--font-hover-color);
}

textarea {
    resize: none;
}

.focused>.form-label {
    opacity: 1;
    transform: translateX(0px);
}