.footer__container {
    background-color: #212F3C;
}

.footer {
    display: flex;
    width: 100%;
    align-items: center;
}

.footer ul {
    margin: 10px 40px;
}

.footer ul li {
    list-style: none;
    color: #ABC9E8;
    margin: 10px;
}

.footer ul li a {
    text-decoration: none;
    color: #ABC9E8;
}

.footer ul:first-child {
    margin-top: -19px;
}

.footer ul li:first-child {
    margin-bottom: 20px;
}

.logo__img {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15%;
    transform: translateX(-50%);
    width: 10%;
    height: auto;
    border-radius: 50%;
}

.social__links {
    margin-left: 200px;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
}


/* Add a hover effect if you want */

.fa:hover {
    opacity: 0.7;
}


/* Facebook */

.fa-facebook {
    background: #3B5998;
    color: white;
}


/* Twitter */

.fa-twitter {
    background: #55ACEE;
    color: white;
}