.container {
    display: flex;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

.sidebar {
    height: 100vh;
    width: 20rem;
    background: #121212;
    color: white;
    align-items: center;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
}

.sidebar h1 {
    margin: 1.5em 0 1em 0;
    color: white;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    font-family: 'Orienta', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.sidebar nav {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.sidebar nav ul {
    display: flex;
    flex-direction: column;
}

.sidebar nav ul li {
    padding-bottom: 2rem;
}

.sidebar nav ul li a {
    color: white;
    font-size: 20px;
}

.sidebar nav ul li a:hover {
    transform: translateY(-5px);
    font-size: 22px;
    color: dimgrey;
}

.gerer_client__sec {
    height: 100vh;
    width: 80rem;
    display: grid;
    align-items: center;
    justify-content: center;
}

.container__client {
    justify-content: center;
    height: 70vh;
    width: 60rem;
    border-radius: 30px;
}

.gerer_client__sec .heading {
    margin-top: -35px;
    color: #343434;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    font-family: 'Orienta', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.desc {
    color: #17202A;
    margin-top: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

table {
    position: absolute;
    z-index: 2;
    width: 60%;
    height: 500px;
}

th {
    color: #fff;
    background-color: #343434;
    border-radius: 5px;
    text-align: center;
}

td {
    text-align: center;
    font-size: 16px;
}