/* inspiration https://www.pierre-giraud.com/html-css-apprendre-coder-cours/creation-menu-deroulant/ */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    display: flex;
    position: relative;
    height: 50px;
    background-color: #212F3C;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo a {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    cursor: pointer;
    margin-left: 60px;
    padding-top: 5px;
    color: #7F8C8D;
    text-decoration: none;
}

.logo__custom {
    color: #117864;
}

.logo a:hover {
    color: #117864;
    transition: All .2s ease-out;
}

header h1 .logo__custom:hover {
    color: #7F8C8D;
}

nav {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-top: 5px;
    float: left;
    width: 100%;
    text-align: center;
    position: relative;
}

nav ul {
    list-style-type: none
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
    width: 100px;
}

nav a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    position: relative;
    display: block;
    text-decoration: none;
    color: #A6ACAF;
    padding: 10px 0px;
}

nav ul li a:hover {
    color: white;
}

nav .active,
nav .active a {
    font-family: 'Lato', sans-serif;
    color: #17202a;
    background-color: #bcdbee;
    border-radius: 5px;
}

nav .active a:hover {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
    padding: 10px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

nav .sous a {
    color: #283747;
}

.sous {
    display: none;
    position: absolute;
    width: 150px;
    z-index: 1000;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    border-radius: 0.5rem;
    border-left: 0 solid #00ff99;
    transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}

nav>ul li:hover .sous {
    display: block;
    padding-left: 0.5rem;
    border-left: 0.5rem solid #00ff99;
}

.sous li {
    float: none;
    width: 100%;
    text-align: left;
}

.sous a {
    padding: 10px;
    border-bottom: none;
}

.sous a:hover {
    border-bottom: none;
    color: #28B463;
}

.deroulant {
    content: "▼";
}

nav ul li {
    width: 150px;
    text-align: center;
    display: inline-block;
}

.login__btn a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
}

.login__btn {
    border-radius: 12px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 30px;
    padding-left: 20px;
    padding-top: 9px;
    width: 175px;
    background-color: #28B463;
    align-items: center;
}

.login__btn:hover,
.login__btn a:hover {
    color: #28B463;
    background-color: #212F3C;
    transition: all .2s ease-out;
}

.login__btn:hover {
    border: 1px solid #28B463;
}


/* apres connection */

.log__nav {
    width: 30%;
    text-align: center;
}