@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
    font-family: 'Poppings', sans-serif;
}

li {
    list-style: none;
}

.container {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: #304352;
    background: -webkit-linear-gradient(to right, #d7d2cc, #304352);
    background: linear-gradient(to right, #d7d2cc, #304352);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Projects_clients__data {
    position: absolute;
    display: flex;
    top: 5%;
    left: 2%;
    right: 2%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Saison__title {
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #E4E4E4;
    animation: move_left 2s ease-out;
}

.projet_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.projet_info {
    background-image: radial-gradient( circle farthest-corner at -8.9% 51.2%, rgba(255, 124, 0, 1) 0%, rgba(255, 124, 0, 1) 15.9%, rgba(255, 163, 77, 1) 15.9%, rgba(255, 163, 77, 1) 24.4%, rgba(19, 30, 37, 1) 24.5%, rgba(19, 30, 37, 1) 66%);
    border-radius: 50px;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-content: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.item_projet {
    width: 75%;
    display: flex;
    margin-bottom: 15px;
}

.item__project_body {
    justify-content: center;
    text-align: center;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.item__project_number {
    display: flex;
    justify-content: center;
    width: 15rem;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-family: bold;
    color: #212F3C;
}

.item__project_title {
    margin-top: 20px;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #EF6C00;
}

.item__project_description {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-transform: italic;
    color: #CFD8DC;
}

.clients_sec {
    margin-left: 2rem;
}

.clients__title {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-size: 24px;
    font-family: bold;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #EF6C00;
}

.item__client_body {
    margin-top: 1rem;
}

.item_clients {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.item__client_name,
.item__client_prenom {
    margin-top: 8px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #CFD8DC;
}
