body {
    font-family: 'Roboto', sans-serif;
    background: #E0EAFC;
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.container__title {
    margin: 3% 0;
}

.Saison__title {
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #2E4053;
    animation: move_left 2s ease-out;
}

.container__fonctionnalite {
    display: flex;
    width: 95%;
    height: 20rem;
    background: #fff;
    margin-left: 40px;
    border-radius: 10px;
    background: #E0EAFC;
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
}

.liste__fonctionnalite {
    border-radius: 10px;
    background: #fff;
}

.container__fonctionnalite h2 {
    height: 10%;
    width: 300px;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 70rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.container__fonctionnalite ul {
    position: relative;
    background: #fff;
    text-align: center;
    margin-top: 5px;
}

.container__fonctionnalite ul li {
    font-size: 18px;
    list-style: none;
    margin-bottom: 5px;
    padding: 15px 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
    transition: transform 0.5s;
}

.container__fonctionnalite ul li a {
    color: #212f3c;
    text-decoration: none;
}

.container__fonctionnalite ul:hover li {
    opacity: 0.2;
}

.container__fonctionnalite ul li:hover {
    transform: scale(1.1);
    z-index: 100;
    background: #25bcff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
    color: #fff;
    opacity: 1;
}

.container__fonctionnalite ul li:hover a {
    color: #fff;
}

.description__saison {
    width: 100%;
    height: 20rem;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}

.description__saison p {
    color: #fff;
    font-size: 24px;
    letter-spacing: 1px;
    word-wrap: break-word;
    justify-content: center;
    text-align: center;
}


/*
.section_membres {
    display: flex;
    align-items: center;
    align-content: center;
}
*/

.container__membres {
    /*margin-left: 50%;
    transform: translateX(-50%);*/
    padding: 3rem 0;
    background: #E0EAFC;
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
}

.heading {
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 5rem;
    text-align: center;
    color: #333;
    position: relative;
}

.heading::after {
    content: '';
    width: 10rem;
    height: .8rem;
    background-color: #45e19f;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}

.card_wrapper {
    width: 1500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.card {
    height: 40rem;
    width: 24rem;
    background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 1rem;
    box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 0.2);
}

.card .card_img {
    width: 100%;
    height: 16rem;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
}

.profile_img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -10rem;
    z-index: 999;
    border: 1rem solid #ebeef8;
}

.card h1 {
    font-size: 2.5rem;
    color: #333;
    margin: 1.5rem 0;
}

.card .btn {
    padding: 1rem 2.5rem;
    background-color: #445ae3;
    border-radius: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: #eee;
    font-size: 1.4rem;
    transition: all .5s;
}

.card .btn:hover {
    transform: translateY(-2px);
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .2);
}

.card .btn:active {
    transform: translateY(0);
    box-shadow: none;
}

.social_media {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    margin-top: 1.5rem;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.social_media i {
    font-size: 3rem;
    transition: color .5s;
}

.fa-linkedin {
    color: #33a8ff;
}

.fa-facebook-square {
    color: #3b5999;
}

.fa-twitter-square {
    color: #55acee;
}

.fa-instagram-square {
    color: #e6683c
}

.fa-linkedin:hover,
.fa-facebook-square:hover,
.fa-twitter-square:hover,
.fa-instagram-square:hover {
    color: #17a589;
}

@media screen and(min-width: 700px) {
    .card_wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .card {
        margin: 2rem;
        transition: transform .5s;
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}