@import url(
'https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'
);

body {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../Assets/main_bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.homepage__description {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    display: block;
    justify-content: center;
    text-align: center;
}

.homepage__title {
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #212F3C;
    animation: move_left 2s ease-out;
}

.homepage__paragraphe {
    color: #2E4053;
    margin-top: 15px;
    font-size: 18px;
    word-wrap: break-word;
    animation: move_right 2s ease-out;
}

@keyframes move_left {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes move_right {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}