.container {
    display: flex;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

.sidebar {
    height: 100vh;
    width: 20rem;
    background: #121212;
    color: white;
    align-items: center;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
}

.sidebar h1 {
    margin: 1.5em 0 1em 0;
    color: white;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    font-family: 'Orienta', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.sidebar nav {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.sidebar nav ul {
    display: flex;
    flex-direction: column;
}

.sidebar nav ul li {
    padding-bottom: 2rem;
}

.sidebar nav ul li a {
    color: white;
    font-size: 20px;
}

.sidebar nav ul li a:hover {
    transform: translateY(-5px);
    font-size: 22px;
    color: dimgrey;
}

.sup_client__sec {
    height: 100vh;
    width: 80rem;
    display: grid;
    align-items: center;
    justify-content: center;
}

.form_container {
    justify-content: center;
    height: 70vh;
    width: 60rem;
    border-radius: 30px;
}

.sup_client__sec .heading {
    margin: 1.5em 0 1em 0;
    color: #343434;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    font-family: 'Orienta', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

form {
    margin-top: -30rem;
    margin-left: 35%;
}

.btn {
    display: inline-block;
    width: 16rem;
    height: 2.5rem;
    padding: 0.3em 1.2em;
    margin: 2rem 0.1em 0.1em 0;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    background-color: #121212;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
}

.btn:hover {
    border-color: rgba(255, 255, 255, 1);
}